@model MapMaker.Models._02_BlockModels.BlockDetailsWithEvent

@{
    ViewBag.Title = "Block Details";
}
<div>
    <br />
    <br />
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>BlockDetail</h3>
            <hr />
            <br />
            <dl class="dl-horizontal" style="font-size:larger;">
                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.MapID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.MapID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.Creator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.Creator)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.TypeOfBlock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.TypeOfBlock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.PosX)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.PosX)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.PosY)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BlockDetail.PosY)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BlockDetail.HasEvent)
                </dt>

                <dd>
                    @(Model.BlockDetail.HasEvent ? "Yes" : "No")
                </dd>
                @if (Model.BlockDetail.TypeOfBlock == "Exit")
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.BlockDetail.ExitDirection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BlockDetail.ExitDirection)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BlockDetail.ExitToID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BlockDetail.ExitToID)
                    </dd>
                }
            </dl>

            <br />
            <hr />
            <p>
                @if (User.Identity.Name == Model.BlockDetail.Creator)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.BlockDetail.ID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = Model.BlockDetail.ID }) @:|
                }
                @Html.ActionLink("Back to Map", "Details", "Map", new { id = Model.BlockDetail.MapID }, null)
                @if (!Model.BlockDetail.HasEvent && User.Identity.Name == Model.BlockDetail.Creator && Model.BlockDetail.TypeOfBlock != "Wall")
                {
                    @: |
                    @Html.ActionLink("Add Event", "Create", "GameEvent", new { id = Model.BlockDetail.ID }, null)
                }
            </p>
        </div>

        <div class="col-md-5">
            @if (Model.BlockDetail.HasEvent)
            {
                <h3>Event</h3>
                <hr />
                <br />
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.GameEventDetail.TypeOfEvent)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GameEventDetail.TypeOfEvent)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GameEventDetail.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GameEventDetail.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GameEventDetail.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GameEventDetail.Description)
                        </dd>

                    </dl>
                </div>
                <hr />
                <p>
                    @Html.ActionLink("Event Detail", "Details", "GameEvent", new { id = Model.GameEventDetail.BlockID }, null)
                </p>
            }
        </div>

    </div>
