@model MapMaker.Models._03_GameEventModels.GameEventDetail

@{
    ViewBag.Title = "Event Details";
}
<div class="row">
    <br />
    <hr />
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>Game Event Details</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MapID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MapID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlockID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlockID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeOfEvent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfEvent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
        <hr />
        <p>
            @if (Model.Creator == User.Identity.Name)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) @:|
            }
            @Html.ActionLink("Back to Event List", "Index")
            @if (Model.BlockID != 0)
            {
                @: |
                @Html.ActionLink("Back to Block Detail", "Details", "Block", new { id = Model.BlockID }, null)
            }
        </p>
    </div>
</div>